@model QuickStock.Domain.Entities.Category

@{
    ViewData["Title"] = "Editar Categoría";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="mb-4">Editar Categoría</h2>

<form method="post" asp-controller="Category" asp-action="Edit">
    <input type="hidden" asp-for="Id" />

    <div class="mb-3">
        <label asp-for="Name" class="form-label">Nombre</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <button type="submit" class="btn btn-warning text-white">Actualizar</button>
    <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
</form>
